.pearson-details {
    padding: 20px 50px 20px 20px;
    font-weight: 700;
    margin-top: 20px;
}

.pearson-container {
    width: 100%;
}

.pearson-details img {
    min-width: 200px;
    height: 260px;
    border-radius: 10px;
    margin-right: 30px;
}

.pearson-details h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
}

.term {
    margin-right: 5px;
}

