.item-details {
    padding: 20px 50px 20px 20px;
    font-weight: 700;
    margin-top: 20px;
    background: rgba(48,48,48, 0.8 );
}

.item-container {
    width: 100%;
}

.item-details img {
    height: 307px;
    border-radius: 10px;
    margin-right: 30px;
}

.item-details h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
}
.item-details li {
    background: none;
}

.term {
    margin-right: 5px;
}

